{
  "presets": ["module:@skpm/babel-preset", "@babel/preset-flow"],
  "plugins": ["@babel/plugin-proposal-class-properties", ["@babel/plugin-transform-modules-commonjs", {
    "noInterop": true
  }]]
}
