{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "CGSizeMake": true,
    "COSAlertWindow": true,
    "CGAffineTransformMakeRotation": true,
    "CGAffineTransformMakeScale": true,
    "CGAffineTransformMakeTranslation": true,
    "CGAffineTransformConcat": true,
    "log": true,
    "MSArtboardGroup": true,
    "MSColor": true,
    "MSLayerGroup": true,
    "MSOvalShape": true,
    "MSRect": true,
    "MSRectangleShape": true,
    "MSShapeGroup": true,
    "MSTextLayer": true,
    "NSFont": true,
    "NSFontAttributeName": true,
    "NSKernAttributeName": true,
    "NSMakeRect": true,
    "NSMutableParagraphStyle": true,
    "NSParagraphStyleAttributeName": true,
    "NSString": true,
    "NSStringDrawingUsesLineFragmentOrigin": true,
    "NSTextField": true,
    "NSTextView": true,
    "NSView": true,
    "React$Component": true,
    "React$Element": true,
    "ReactClass": true,
    "ReactComponent": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "no-duplicate-imports": [0],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
  }
}
