{
  "parser": "babel-eslint",
  "root": true,
  "extends": [
    "airbnb",
    "sketch"
  ],
  "globals": {
    "React$Component": true,
    "React$Element": true,
    "ReactClass": true,
    "ReactComponent": true,
    "context": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "no-duplicate-imports": [0],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "function-paren-newline": 0,
    "react/require-default-props": 0,
    "react/default-props-match-prop-types": 0,
    "jsx-a11y/label-has-for": 0
  },
  "env": {
    "node": true,
    "jest": true
  }
}
