.DS_Store
*.log*
node_modules
_book
examples
docs
.vscode
yarn.lock
__tests__
.github
template
book.json
prettier.config.js
.editorconfig
.bookignore
src
jest.config.js
tsconfig.json
tsconfig.module.json
.travis.yml
