os: osx
osx_image: xcode8.3
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
  - '8'
  - '10'
before_script:
  - npm prune
script:
  - npm run check
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
